<section>
    
<div id="preloader">
    <div class="loader">
    <div class="loader-rect"></div>
    <div class="loader-rect"></div>
    <div class="loader-rect"></div>
    <div class="loader-rect"></div>
    </div>
    </div>

<div class="header-top">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="contact-info">
    <a href="#" class="mr-3"><i class="fal fa-envelope-open"></i> <span class="__cf_email__" data-cfemail="c9a0a7afa689acb1a8a4b9a5ace7aaa6a4">&nbsp;&nbsp;yukhtafuel@gmail.com
    </span> </a>
    <a href="#"><i class="fal fa-phone"></i>&nbsp;&nbsp;8446435623</a>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 text-right">
    <div class="site-info">
    <div class="social-area">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
    
    
    <header class="header-area">
   <div id="sticky-wrapper" class="sticky-wrapper" >
    <div class="sticky-area" >
    <div class="navigation">
    <div class="container">
    <div class="row">
    <div class="col-lg-2">
    <div class="logo">
    <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt></a> -->

    <h2>Yukhtafuel</h2>
    </div>
    </div>
    <div class="col-lg-9">
    <div class="main-menu">
    <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <a class="nav-link active" href="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Home
  
    </a>
    </li>


    <li class="nav-item">
    <a class="nav-link" href="/about" routerLinkActive="active">About</a>
    </li>


    
    <li class="nav-item">
        <a class="nav-link" href="/products" routerLinkActive="active" >Products
        
        </a>
       
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" href="/faqs" routerLinkActive="active" >Faqs
    
        </a>
      
        </li> -->
        <!-- <li class="nav-item">
        <a class="nav-link" href="/blogs" routerLinkActive="active" >Blog
        </a>
        
        </li> -->
        <li class="nav-item">
        <a class="nav-link" href="/contact" routerLinkActive="active" >Contact</a>
        </li>
    </ul>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
  
    </header>

</section>