
<footer class="footer-area wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;z-index: -1; position: relative">
    <div class="container">
    <div class="footer-up">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="logo">
      <h5>YukhtaFuel</h5>
    <!-- <img src="assets/img/logo-white.png" alt="fossil-logo"> -->
    </div>
    <p style="text-align: justify;">Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you.</p>
    <div class="social-area">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
    <div class="col-lg-2 offset-lg-1 col-md-6 com-sm-12">
    <h5>Quick Browse</h5>
    <ul>
    <li>
      <a href="/"><i class="fal fa-minus"></i> Home</a>
    <a href="/about"> <i class="fal fa-minus"></i> About Us</a>
    <a href="/products"> <i class="fal fa-minus"></i> Products</a>
    <a href="/contact"><i class="fal fa-minus"></i> Contact Us</a>
 
    <!-- <a href="services.html"><i class="fal fa-minus"></i> Services</a>
    <a href="price.html"><i class="fal fa-minus"></i> Pricing Plan</a>
    <a href="/faq"><i class="fal fa-minus"></i> FAQ</a>
    <a href="contact.html"><i class="fal fa-minus"></i> Support</a> -->
    </li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- <h5>Our Services</h5>
    <ul>
    <li>
    <a href="single-service.html"><i class="fal fa-minus"></i> Solid Octane </a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Pure Diesel</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Light Petrol</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> CNG Gas</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Car Cleaning</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Electric Charging</a>
    </li>
    </ul> -->
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="subscribe-form">
    <h5>Address:</h5>
    <p>YUKHTA FUEL PRIVATE LIMITED PLOT NO: 1, chambar No 4,<br> Tirupati square, <br> Dighori sq ,Nagpur<br>  440024</p>
    <a href="#" class="mr-3"><i class="fal fa-envelope-open"></i> &nbsp;<span class="__cf_email__" data-cfemail="c9a0a7afa689acb1a8a4b9a5ace7aaa6a4">yukhtafuel@gmail.com
    </span> </a> <br> <br>
    <a href="#"><i class="fal fa-phone"></i>&nbsp;&nbsp;8446435623</a>
    <form action="#">

    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>


    <div class="footer-bottom" style="z-index: -1; position: relative">
        <div class="container">
        <div class="row justify-content-center align-items-center">
        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="copyright-line">© <span id="date">2023</span> Refuel All rights reserved.</p>
        </div> -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="privacy"><a href="#">Privacy Policy</a> | <a href="#">Terms &amp; Conditions</a></p>
        </div> -->

        
        <p style="position: relative; text-align: center;">
          Design and Developed By
      <a href="https://www.oceansofttech.net/" target="_blank">
        Ocean Software Technologies
      </a>
    </p>
        </div>
        </div>
        </div>


        <div class="container">
          <div class="copyright-area-content">
         
          </div>
        </div>