
<footer class="footer-area wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
    <div class="container">
    <div class="footer-up">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="logo">
    <img src="assets/img/logo-white.png" alt="fossil-logo">
    </div>
    <p>There are many variations of pase available but the majority have suffered alteration in some look even slightly believable.</p>
    <div class="social-area">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
    <div class="col-lg-2 offset-lg-1 col-md-6 com-sm-12">
    <h5>Quick Browse</h5>
    <ul>
    <li>
    <a href="/about"> <i class="fal fa-minus"></i> About Us</a>
    <a href="/contact"><i class="fal fa-minus"></i> Contact Us</a>
    <a href="services.html"><i class="fal fa-minus"></i> Services</a>
    <a href="price.html"><i class="fal fa-minus"></i> Pricing Plan</a>
    <a href="/faq"><i class="fal fa-minus"></i> FAQ</a>
    <a href="contact.html"><i class="fal fa-minus"></i> Support</a>
    </li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <h5>Our Services</h5>
    <ul>
    <li>
    <a href="single-service.html"><i class="fal fa-minus"></i> Solid Octane </a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Pure Diesel</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Light Petrol</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> CNG Gas</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Car Cleaning</a>
    <a href="single-service.html"><i class="fal fa-minus"></i> Electric Charging</a>
    </li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="subscribe-form">
    <h5>Newsletter</h5>
    <p>Subscribe our newsletter to get latest news update</p>
    <form action="#">
    <input type="email" placeholder="Your email">
    <button class="main-btn">Subscribe</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>


    <div class="footer-bottom">
        <div class="container">
        <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="copyright-line">© <span id="date">2023</span> Refuel All rights reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="privacy"><a href="#">Privacy Policy</a> | <a href="#">Terms &amp; Conditions</a></p>
        </div>
        </div>
        </div>
        </div>

