<section>
    <div class="breadcroumb-area bread-bg" style="background-image: url(assets/img/bread-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcroumb-title">
                        <h1>About Us</h1>
                        <h6><a href="/">Home</a> <i class="far fa-dot-circle"></i> About Us</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content-wrapper wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="section-title">
                            <h6>About Us</h6>
                            <h2>Welcome! To Refuel Company</h2>
                        </div>
                        <p>what is door to door diesel delivery 
                            Leveraging the landmark reform by the Government of India in the retailing of HSD [High Speed Diesel] which allows door to door diesel delivery, Bharat petroleum has come up with FuelKart - a service that delivers diesel directly to you. </p>
                       
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="key-feature">
                                    <div class="row no-gutters">
                                        <div class="col-lg-4">
                                            <div class="about-icon">
                                                <img src="assets/img/icon/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <h4>100% Satisfied With Oil</h4>
                                            <p>It is a long established fact that a reader will be distracted.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="key-feature">
                                    <div class="row no-gutters">
                                        <div class="col-lg-4">
                                            <div class="about-icon">
                                                <img src="assets/img/icon/3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <h4>100% Currect Meter</h4>
                                            <p>It is a long established fact that a reader will be distracted.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="about-img">
                            <img src="assets/img/about/about.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="achievement-area">
        <div class="overlay-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".2s"
                        style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                        <div class="about-fact-icon"><i class="fal fa-user-friends"></i></div>
                        <p class="counter-number"><span>3000</span>+</p>
                        <h6>Satisfied Client</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".4s"
                        style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                        <div class="about-fact-icon"><i class="fal fa-globe"></i></div>
                        <p class="counter-number"><span>180</span></p>
                        <h6>Worldwide Services</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".6s "
                        style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                        <div class="about-fact-icon"><i class="fal fa-mug-hot"></i></div>
                        <p class="counter-number"><span>100</span></p>
                        <h6>Cup Of Tea</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".8s"
                        style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                        <div class="about-fact-icon"><i class="fal fa-award"></i></div>
                        <p class="counter-number"><span>50</span></p>
                        <h6>Total Awards</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="chooseus-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="feature-img wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                        <img src="assets/img/feature.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-title">
                        <h6>Choose</h6>
                        <h2 class="section-heading">Why Choose Our Services</h2>
                    </div>
                    <p class="highlight mb-20">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form.</p>
                    <div class="single-feature-item wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                        <div class="num"><i class="fal fa-check"></i></div>
                        <div class="feature-content">
                            <h5>Currect Meter</h5>
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>
                    <div class="single-feature-item wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                        <div class="num"><i class="fal fa-check"></i></div>
                        <div class="feature-content">
                            <h5>Best Quality Oil</h5>
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>
                    <div class="single-feature-item wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                        <div class="num"><i class="fal fa-check"></i></div>
                        <div class="feature-content">
                            <h5>24/7 Services</h5>
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="testimonial-area dark-bg section-padding">
        <div class="overlay-2"></div>
        <div class="capricorn-testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center ">
                        <div class="section-title">
                            <h6>Testimonial</h6>
                            <h2>What People Say</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="client-carousel owl-carousel owl-loaded owl-drag">
    
    
    
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(-1710px, 0px, 0px); transition: all 0.25s ease 0s; width: 3990px;">
                                    <div class="owl-item cloned" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/2.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Terence Smith</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/3.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Mary Abrams</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/1.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Frankie Clark</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/2.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Terence Smith</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/3.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Mary Abrams</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/1.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Frankie Clark</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 540px; margin-right: 30px;">
                                        <div class="single-client-item">
                                            <div class="testimonial-icon"><i class="fal fa-quote-left"></i></div>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour.</p>
                                            <img src="assets/img/testimonial/2.jpg" alt="">
                                            <div class="author-desc">
                                                <h5>Terence Smith</h5><span>Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                        aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                    class="owl-next"><span aria-label="Next">›</span></button></div>
                            <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                                    role="button" class="owl-dot"><span></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="team-area section-padding gray-bg text-center pb-150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 ">
                    <div class="section-title text-center">
                        <h6>Team</h6>
                        <h2>Our Team Expert</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team-member wow fadeInLeft" data-wow-delay=".2s"
                        style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                        <img src="assets/img/team/1.jpg" alt="">
                        <div class="team-content">
                            <div class="team-title">
                                <a href="#">Edna Dinapoli</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Manager</p>
                            </div>
                        </div>
                        <div class="team-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team-member wow fadeInLeft" data-wow-delay=".4s"
                        style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                        <img src="assets/img/team/2.jpg" alt="">
                        <div class="team-content">
                            <div class="team-title">
                                <a href="#">Lynne Richards</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Manager</p>
                            </div>
                        </div>
                        <div class="team-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team-member wow fadeInRight" data-wow-delay=".6s"
                        style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                        <img src="assets/img/team/3.jpg" alt="">
                        <div class="team-content">
                            <div class="team-title">
                                <a href="#">Mickey Salas</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Manager</p>
                            </div>
                        </div>
                        <div class="team-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team-member wow fadeInRight" data-wow-delay=".8s"
                        style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                        <img src="assets/img/team/4.jpg" alt="">
                        <div class="team-content">
                            <div class="team-title">
                                <a href="#">Anthony Hundley</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Manager</p>
                            </div>
                        </div>
                        <div class="team-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="client-area pt-50 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-carousel owl-carousel owl-loaded owl-drag">
    
    
    
    
    
    
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-1140px, 0px, 0px); transition: all 0s ease 0s; width: 3648px;">
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/5.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/6.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/5.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/6.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 198px; margin-right: 30px;">
                                    <div class="single-logo-wrapper">
                                        <div class="logo-inner-item">
                                            <img src="assets/img/client/5.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                                role="button" class="owl-dot"><span></span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>