<section>
    <div class="breadcroumb-area bread-bg" style="background-image: url(assets/img/bread-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcroumb-title">
                        <h1>Contact Us</h1>
                        <h6><a href="/">Home</a> <i class="far fa-dot-circle"></i> Contact Us</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact-us" class="contact-us-area section-padding">
        <div class="container">
            <div class="contact-us-wrapper">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="contact-us-inner">
                            <div class="info-i"><span><i class="fal fa-map-marker-alt"></i></span></div>
                            <h5>Address</h5>
                            <p>PLOT NO: 1, chambar No 4,<br> Tirupati square, <br> Dighori sq ,Nagpur</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="contact-us-inner">
                            <div class="info-i"><span><i class="fal fa-clock"></i></span></div>
                            <h5>Office Hour</h5>
                            <p>Sunday-Monday <br>10.00AM - 06.00PM</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="contact-us-inner">
                            <div class="info-i"><span><i class="fal fa-phone"></i></span></div>
                            <h5>Phone</h5>
                            <p>8466435623</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="contact-us-inner">
                            <div class="info-i"><span><i class="fal fa-envelope"></i></span></div>
                            <h5>Email</h5>
                            <p>yukhtafuel@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact-page" class="contact-section blue-bg section-padding">
        <div class="overlay-2"></div>
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 text-center wow fadeInRight"
                        style="visibility: hidden; animation-name: none;">
                        <div class="contact-form-wrapper">
                            <div class="section-title">
                                <h2>Get in <b>Touch</b></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. </p>
                            </div>
                            <div class="contact-form">
                                <form method="post" action="https://themes.themewild.com/refuel/assets/php/contact.php"
                                    id="contact-form">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <input type="text" name="name" placeholder="Your Name" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <input type="email" name="email" placeholder="E-mail" required="">
                                        </div>
                                        <div class="col-lg-12">
                                            <input type="text" name="subject" placeholder="Subject" required="">
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea name="message" id="message" cols="30" rows="10"
                                                placeholder="Write Message" required=""></textarea>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-12 text-center">
                                            <button class="main-btn">Send Your Message</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-12 my-2">
                                    <div class="form-messege text-success text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>