<section>
<div class="breadcroumb-area bread-bg" style="background-image: url(assets/img/bread-bg.jpg);">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="breadcroumb-title">
    <h1> Products</h1>
    <h6><a href="index.html">Home</a> <i class="far fa-dot-circle"></i>Products</h6>
    </div>
    </div>
    </div>
    </div>
    </div>
  

    <!-- <div id="service-1" class="services-area gray-bg section-padding" style="z-index: -1; position: relative">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 text-center">
                    <div class="section-title">
    
                        <h2>Best Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: o.2s; animation-name: fadeInLeft;">
                        <div class="serv-icon">
                            <img src="assets/img/icon/1.png" alt>
                        </div>
                        <div class="serv-content">
                            <h5>Diesel
    
                            </h5>
                            <p style="text-align: justify;">India with unique challenge of uninterrupted power supply requires over 20
                                million
                            residential</p>
                        </div>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" >
                    <div class="single-serv-item active mt-30 wow fadeInLeft" data-wow-delay=".4s" style="background-color: black;">
                        <div class="serv-icon">
                            <img src="assets/img/icon/5.png" alt>
                        </div>
                        <div class="serv-content">
                            <h5>Pure Diesel</h5>
                            <p style="text-align: justify;">Fuel Storage and Monitoring solutions with smart capabilities to ensure you track every drop of fuel consumed</p>
                        </div>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                        <div class="serv-icon">
                            <img src="assets/img/icon/4.png" alt>
                        </div>
                        <div class="serv-content">
                            <h5> Lubricant </h5>
                            <p>Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback</p>
                        </div>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                        <div class="serv-icon">
                            <img src="assets/img/icon/3.png" alt>
                        </div>
                        <div class="serv-content">
                            <h5>Fuel Delivery</h5>
                            <p style="text-align: justify;">India with unique challenge of uninterrupted power supply requires over 20 million residential.</p>
                        </div>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                        <div class="serv-icon">
                            <img src="assets/img/icon/2.png" alt>
                        </div>
                        <div class="serv-content">
                            <h5>Diesel-on-Tap</h5>
                            <p style="text-align: justify;">Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback.</p>
                        </div>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-serv-item  mt-30 wow fadeInLeft" data-wow-delay=".6s">
                        <div class="serv-icon">
                            <img src="assets/img/icon/6.png" alt>
                        </div>
                        <div class="serv-content">
                            <h5>Buddy Cans</h5>
                            <p>Whether storing fuel for your power equipment or emergency, having the best storage can for you helps.</p>
                        </div>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div id="service-1" class="services-area gray-bg section-padding">
        <div class="container">
        <div class="row">
        <div class="offset-lg-2 col-lg-8 text-center">
        <div class="section-title">
        <!-- <h6>Products</h6> -->
        <h2>Best Products</h2>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
        <div class="serv-icon">
        <img src="assets/img/icon/1.png" alt="">
        </div>
        <div class="serv-content">
            <h5>Diesel

            </h5>
            <p style="text-align: justify;">India with unique challenge of uninterrupted power supply requires over 20
                million
            residential</p>
        </div>
        <a href="/" class="read-more">Read More</a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-serv-item active mt-30 wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
        <div class="serv-icon">
        <img src="assets/img/icon/5.png" alt="">
        </div>
        <div class="serv-content">
            <h5>Pure Diesel</h5>
            <p style="text-align: justify;">Fuel Storage and Monitoring solutions with smart capabilities to ensure you track every drop of fuel consumed</p>
        </div>
        <a href="/" class="read-more">Read More</a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
        <div class="serv-icon">
        <img src="assets/img/icon/4.png" alt="">
        </div>
        <div class="serv-content">
            <h5> Lubricant </h5>
            <p>Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback</p>
        </div>
        <a href="/" class="read-more">Read More</a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
        <div class="serv-icon">
        <img src="assets/img/icon/3.png" alt="">
        </div>
        <div class="serv-content">
            <h5>Fuel Delivery</h5>
            <p style="text-align: justify;">India with unique challenge of uninterrupted power supply requires over 20 million residential.</p>
        </div>
        <a href="/" class="read-more">Read More</a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
        <div class="serv-icon">
        <img src="assets/img/icon/2.png" alt="">
        </div>
        <div class="serv-content">
            <h5>Diesel-on-Tap</h5>
            <p style="text-align: justify;">Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback.</p>
        
        </div>
        <a href="/" class="read-more">Read More</a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-serv-item  mt-30 wow fadeInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
        <div class="serv-icon">
        <img src="assets/img/icon/6.png" alt="">
        </div>
        <div class="serv-content">
            <h5>Buddy Cans</h5>
            <p>Whether storing fuel for your power equipment or emergency, having the best storage can for you helps.</p>
        
        </div>
        <a href="/" class="read-more">Read More</a>
        </div>
        </div>
        </div>
        </div>
        </div>
</section>