<section>
    
<div id="service-1" class="services-area gray-bg section-padding" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="section-title" >
                  
                    <h2>Best Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".2s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/1.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Solid Octane</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item active mt-30 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/5.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Pure Diesel</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/4.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Light Petrol</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/3.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>CNG Gas</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/2.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Car Cleaning</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item  mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/6.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Electric Charging</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="row">
            <div class="col-md-3 text-md-left" style="margin-bottom: 9%;">
                <div class="service-overlay">
                    <img src="https://fuelbuddy.in/skin/frontend/templatemela/MAG100216_1/new_images/gene_1.png?v4"/>
                    <h5 class="service-h5">Fuel Delivery</h5>
                    <p class="service-p">India with unique challenge of uninterrupted power supply requires over 20
                        million
                    residential</p>
                    <a class="service-a" href="https://fuelbuddy.in/generator-refuelling" target="_blank">Learn
                    more ></a>
                </div>
            </div>
            <div class="col-md-3 text-md-left" style="margin-bottom: 9%;">
                <div class="service-overlay">
                    <img src="https://fuelbuddy.in/skin/frontend/templatemela/MAG100216_1/new_images/dot_1.png?v3"/>
                    <h5 class="service-h5">Diesel-on-Tap</h5>
                    <p class="service-p">Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback</p>
                    <a class="service-a" href="https://fuelbuddy.in/diesel-on-tap" target="_blank">Learn
                    more ></a>
                </div>
            </div>
            <div class="col-md-3 text-md-left" style="margin-bottom: 9%;">
                <div class="service-overlay">
                    <img src="https://fuelbuddy.in/skin/frontend/templatemela/MAG100216_1/new_images/smarttank.jpg?v3"/>
                    <h5 class="service-h5">Smart Tanks</h5>
                    <p class="service-p">Fuel Storage and Monitoring solutions with smart capabilities to ensure you track every drop of fuel consumed</p>
                    <a class="service-a" href="https://fuelbuddy.in/smart-tank" target="_blank">Learn
                    more ></a>
                </div>
            </div>
            
            
            <div class="col-md-3 text-md-left" style="margin-bottom: 9%;">
                <div class="service-overlay">
                    <img src="https://fuelbuddy.in/skin/frontend/templatemela/MAG100216_1/new_images/buddy_can.jpg"/>
                    <h5 class="service-h5">Buddy Cans</h5>
                    <p class="service-p">Whether storing fuel for your power equipment or emergency, having the best storage can for you helps.</p>
                    <a class="service-a" href="https://fuelbuddy.in/buddycans" target="_blank">Learn
                    more ></a>
                </div>
            </div>
     
        </div>
</section>

