<div class="homepage-slides owl-carousel owl-loaded owl-drag" style="z-index: -1; position: relative;">
    <div class="owl-stage-outer">
        <div class="owl-stage"
            style="transform: translate3d(-5235px, 0px, 0px); transition: all 2s ease 0s; width: 9163px;">
            <div class="owl-item cloned" style="width: 1308.97px;">
                <div class="single-slide-item hero-area-bg-2"
                    style="background-image: url(assets/img/slider/slider-2.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 class="" style="opacity: 1;">Since in 2021</h6>
                                        <h1 class="" style="opacity: 1;">Top Rated <b>Company</b> <br> In The India</h1>
                                        <p class="" style="opacity: 1;text-align: justify;"> what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <!-- <a href="/" class="main-btn" style="opacity: 1;">Know More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 1308.97px;">
                <div class="single-slide-item hero-area-bg-2"
                    style="background-image: url(assets/img/slider/slider-3.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 class="" style="opacity: 1;">Since in 2021</h6>
                                        <h1 class="" style="opacity: 1;">Top Rated <b>Company</b> <br> In The World</h1>
                                        <p class="" style="opacity: 1;text-align: justify;"> what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <a href="/" class="main-btn" style="opacity: 1;">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 1308.97px;">
                <div class="single-slide-item" style="background-image: url(assets/img/slider/slider-1.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 style="opacity: 1;" class="">Welcome to REFUEL</h6>
                                        <h1 style="opacity: 1;" class="">Best Refuel <b>Service</b> <br> For You</h1>
                                        <p style="opacity: 1;text-align: justify;" class=""> what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <a href="/" class="main-btn" style="opacity: 1;">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 1308.97px;">
                <div class="single-slide-item hero-area-bg-2"
                    style="background-image: url(assets/img/slider/slider-2.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 style="opacity: 1;" class="">Since in 2021</h6>
                                        <h1 style="opacity: 1;" class="">Top Rated <b>Company</b> <br> In The World</h1>
                                        <p style="opacity: 1;text-align: justify;" class="">.what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <a href="/" class="main-btn" style="opacity: 1;">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item active" style="width: 1308.97px;">
                <div class="single-slide-item hero-area-bg-2"
                    style="background-image: url(assets/img/slider/slider-3.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 class="" style="opacity: 1;">Since in 2021</h6>
                                        <h1 class="" style="opacity: 1;">Top Rated <b>Company</b> <br> In The World</h1>
                                        <p class="" style="opacity: 1;text-align: justify;"> what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <a href="/" class="main-btn" style="opacity: 1;">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 1308.97px;">
                <div class="single-slide-item" style="background-image: url(assets/img/slider/slider-1.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 class="" style="opacity: 1;">Welcome to REFUEL</h6>
                                        <h1 class="" style="opacity: 1;">Best Refuel <b>Service</b> <br> For You</h1>
                                        <p class="" style="opacity: 1;"> There are many variations of passages of Lorem
                                            Ipsum available but the majority <br> have suffered alteration in some form,
                                            by injected humour.what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <a href="/" class="main-btn" style="opacity: 1;text-align: justify;">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 1308.97px;">
                <div class="single-slide-item hero-area-bg-2"
                    style="background-image: url(assets/img/slider/slider-2.jpg);">
                    <div class="overlay"></div>
                    <div class="hero-area-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 wow fadeInUp  animated" data-wow-delay=".3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="section-title">
                                        <h6 class="" style="opacity: 1;">Since in 2021</h6>
                                        <h1 class="" style="opacity: 1;">Top Rated <b>Company</b> <br> In The World</h1>
                                        <p class="" style="opacity: 1;text-align: justify;"> There are many variations of passages of Lorem
                                            Ipsum available but the majority <br> have suffered alteration in some form,
                                            by injected humour.what is door to door diesel delivery Leveraging the
                                            landmark reform by the Government of India in the retailing of HSD [High
                                            Speed Diesel] which allows door to door diesel delivery.Doorstep Diesel
                                            Delivery provides you transparency in your transaction as you get a lot of
                                            various security checks while the diesel is delivered to you.</p>
                                    </div>
                                    <a href="/" class="main-btn" style="opacity: 1;">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
                class="far fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i
                class="far fa-angle-right"></i></button></div>
    <div class="owl-dots disabled"></div>
</div>


<div class="promo-area">
    <div class="promo-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".6s ">
                        <p class="counter-number"><span>500</span> <small class="qty">ltr</small></p>
                        <h6>Diesel</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".8s">
                        <p class="counter-number"><span>500</span> <small class="qty">ltr</small></p>
                        <h6>Lubricant</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".2s">
                        <p class="counter-number"><span>500</span> <small class="qty">ltr</small></p>
                        <h6>Diesel</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-counter-box wow fadeInLeft" data-wow-delay=".4s">
                        <p class="counter-number"><span>500</span> <small class="qty">ltr</small></p>
                        <h6>Lubricant</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area section-padding pt-120 pb-0" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".4s">
                <div class="info-img">
                    <img src="assets/img/about/about.jpg" alt>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
                <div class="info-content-area mb-50">
                    <div class="section-title">
                        <h6>About Us</h6>
                        <h2>We Are Top Rated <b>Company</b> In The India</h2>
                    </div>
                    <p style="text-align: justify;"> what is door to door diesel delivery Leveraging the landmark reform by the Government of India
                        in the retailing of HSD [High Speed Diesel] which allows door to door diesel delivery.Doorstep
                        Diesel Delivery provides you transparency in your transaction as you get a lot of various
                        security checks while the diesel is delivered to you.
                    <p><i class="far fa-dot-circle"></i>Minimum 20 ltr</p>
                    <p><i class="far fa-dot-circle"></i> Online/ UPI/ Wallet </p>
                    <!-- <p><i class="far fa-dot-circle"></i>We come to you</p> -->
                    <a href="/about" class="main-btn">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- <div id="service-1" class="services-area gray-bg section-padding" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="section-title">

                    <h2>Best Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".2s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/1.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Diesel

                        </h5>
                        <p>Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you.</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item active mt-30 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/5.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Pure Diesel</h5>
                        <p>Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you.</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/4.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5> Lubricant </h5>
                        <p>Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/3.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Fuel Delivery</h5>
                        <p>Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you.</p>
                    </div>
                    <a href="single-service.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/2.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Diesel-on-Tap</h5>
                        <p>Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you.</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item  mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/6.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Buddy Cans</h5>
                        <p>Doorstep Diesel Delivery provides you transparency in your transaction as you get a lot of various security checks while the diesel is delivered to you..</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="service-1" class="services-area gray-bg section-padding" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="section-title">

                    <h2>Best Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: o.2s; animation-name: fadeInLeft;">
                    <div class="serv-icon">
                        <img src="assets/img/icon/1.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Diesel

                        </h5>
                        <p style="text-align: justify;">India with unique challenge of uninterrupted power supply requires over 20
							million
						residential</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" >
                <div class="single-serv-item active mt-30 wow fadeInLeft" data-wow-delay=".4s" style="background-color: black;">
                    <div class="serv-icon">
                        <img src="assets/img/icon/5.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Pure Diesel</h5>
                        <p style="text-align: justify;">Fuel Storage and Monitoring solutions with smart capabilities to ensure you track every drop of fuel consumed</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/4.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5> Lubricant </h5>
                        <p>Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/3.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Fuel Delivery</h5>
                        <p style="text-align: justify;">India with unique challenge of uninterrupted power supply requires over 20 million residential.</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/2.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Diesel-on-Tap</h5>
                        <p style="text-align: justify;">Smart fuel storage, monitoring and dispensing solution designed with the market requirement and feedback.</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-serv-item  mt-30 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="serv-icon">
                        <img src="assets/img/icon/6.png" alt>
                    </div>
                    <div class="serv-content">
                        <h5>Buddy Cans</h5>
                        <p>Whether storing fuel for your power equipment or emergency, having the best storage can for you helps.</p>
                    </div>
                    <a href="/" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="skill-area" style="z-index: -1; position: relative">
    <div class="skill-content">
        <div class="section-title mb-30">
            <h6>Our Achievement</h6>
            <h2>Best Refuel Service For You</h2>
        </div>
        <p style="text-align: justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout.</p>
        <div class="row no-gutters mt-40">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-counter-box one">
                    <div class="fact-icon">
                        <i class="fal fa-user-friends"></i>
                    </div>
                    <p class="counter-number"><span>300</span>+</p>
                    <h6>Satisfied <br> Client</h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-counter-box two">
                    <div class="fact-icon">
                        <i class="fal fa-globe"></i>
                    </div>
                    <p class="counter-number"><span>2</span></p>
                    <h6>States</h6>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-counter-box three">
                    <div class="fact-icon">
                        <!-- <i class="fal fa-mug-hot"></i> -->
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <p class="counter-number"><span>3+</span></p>
                    <h6>No of Tanker</h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-counter-box four">
                    <div class="fact-icon">
                       <i class="fal fa-user-friends"></i>
                    </div>
                    <p class="counter-number"><span>50</span></p>
                    <h6>Total Employee</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-bg bg-cover">
        <div class="overlay">
        </div>
        <div class="pop-up-video">
            <!-- <a href="assets/img/WhatsApp Video 2023-07-31 at 13.14.47.mp4" class="video-play-btn video-btn">
                <i class="fal fa-play-circle"></i>
            </a> -->
            <video width="1000px" height="1000px" controls>
                <source src="assets/img/WhatsApp Video 2023-07-31 at 13.14.47.mp4" class="video-play-btn video-btn" type="video/mp4">
                <i class="fal fa-play-circle"></i>
              </video>
              
             
        </div>
    </div>
</div>

 <div class="faq-area section-padding"style="z-index: -1; position: relative">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 wow fadeInRight" data-wow-delay=".3s">
    <div class="faq-img">
    <img src="assets\img\WhatsApp Image 2023-07-31 at 13..jpg"  alt>
    </div>
    </div>
    <div class="col-lg-6 wow fadeInRight" data-wow-delay=".4s">
    <div class="section-title">
    <h6>FAQ</h6>
    <h2>Frequently Asked Questions</h2>
    </div>
    

  <div class="styled-faq"  >
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" style="color: rgb(79, 131, 176);">
            <div class="panel-heading" role="tab" id="headingOne">
            <h6 class="panel-title" style="color: rgb(79, 131, 176);">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                What is Yukhtafuel?
            <i class="fal fa-angle-up up" style="color: green;"></i>
            <i class="fal fa-angle-down down"></i>
            </a>
            </h6>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" style="text-align: justify;">
                Yukhtafuel is an online platform to provide doorstep delivery of fuel in a safe, reliable, and efficient way. You can place your order online and get fuel delivered at your location in specialized Refuellers according to your chosen schedule. We are making refueling smarter!
            </div>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
            <h6 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Which areas are being served
                by yukhtafuel right now?
            
            <i class="fal fa-angle-up up"></i>
            <i class="fal fa-angle-down down"></i>
            </a>
            </h6>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body" style="text-align: justify;">
                Our services are available in Bangalore, Hyderabad, Delhi-NCR, Chennai, Kolkata, Pune, Navi Mumbai, Thane, Ahmedabad, Nasik, Lucknow, Kanpur and a number of other tier 2 cites across India at present
            </div>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
            <h6 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What are yukhtafuel hours of operation?
											
            <i class="fal fa-angle-up up"></i>
            <i class="fal fa-angle-down down"></i>
            </a>
            </h6>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="">
            <div class="panel-body" style="text-align: justify;">
                Our vehicles operate and provide deliveries

            </div>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id="headingSeven">
            <h6 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Where
                does  Yukhtafuel  source its fuel from?
            
            <i class="fal fa-angle-up up"></i>
            <i class="fal fa-angle-down down"></i>
            </a>
            </h6>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body" style="text-align: justify;">
            Yukhtafuel sources fuel from authorized and selected dealers of oil
                companies near your location. We follow a strict quality assurance program
                to ensure every drop of fuel is checked for quality before it gets loaded
                into our Refuellers for delivery. We do not purchase or stock fuel prior to
            delivery. Fuel is sourced only upon receiving orders from customers.
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    
    </div>
    </div>
    </div>



  

<!-- <div class="facility-area dark-bg section-padding" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="section-title">
                    <h6>Facility</h6>
                    <h2>Best Facility</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-facility-area wow fadeInLeft" data-wow-delay=".2s">
                    <div class="facility-icon">
                        <i class="fal fa-wifi"></i>
                    </div>
                    <h4>Free Wifi Service</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-facility-area wow fadeInLeft" data-wow-delay=".4s">
                    <div class="facility-icon">
                        <i class="fal fa-utensils-alt"></i>
                    </div>
                    <h4>Restaurant Service</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay=".6s">
                <div class="single-facility-area">
                    <div class="facility-icon">
                        <i class="fal fa-child"></i>
                    </div>
                    <h4>Children's Play Ground</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-facility-area wow fadeInLeft" data-wow-delay=".8s">
                    <div class="facility-icon">
                        <i class="fal fa-tv"></i>
                    </div>
                    <h4>Watch TV</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="blog-area gray-bg section-padding" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="section-title">
                    <h6>Blog</h6>
                    <h2>Latest Blog</h2>
                </div>
            </div>
            <div class="col-lg-6 text-right">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-item wow fadeInLeft" data-wow-delay=".4s">
                    <div class="blog-bg">
                        <img src="assets/img/blog/1.jpg" alt>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta">
                            <span class="mr-3"><i class="far fa-user-circle"></i>Admin</span>
                            <span> <i class="far fa-calendar-alt"></i>02 FEB, 2023</span>
                        </p>
                        <h5><a href="/">Sed ut perspiciatis unde omnis iste natus error sit </a>
                        </h5>
                        <p style="text-align: justify;">There are injected humour words randomised words which don't look even slightly believable.
                        </p>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-item wow fadeInLeft" data-wow-delay=".6s">
                    <div class="blog-bg">
                        <img src="assets/img/blog/2.jpg" alt>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta">
                            <span class="mr-3"><i class="far fa-user-circle"></i>Admin</span>
                            <span> <i class="far fa-calendar-alt"></i>02 FEB, 2023</span>
                        </p>
                        <h5><a href="/">At vero eos et accusamus et iusto odio dignissimos </a></h5>
                        <p style="text-align: justify;">There are injected humour words randomised words which don't look even slightly believable.
                        </p>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-item wow fadeInLeft" data-wow-delay=".8s">
                    <div class="blog-bg">
                        <img src="assets/img/blog/3.jpg" alt>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta">
                            <span class="mr-3"><i class="far fa-user-circle"></i>Admin</span>
                            <span> <i class="far fa-calendar-alt"></i>02 FEB, 2023</span>
                        </p>
                        <h5><a href="/">There are many variations of passages available </a></h5>
                        <p style="text-align: justify;">There are injected humour words randomised words which don't look even slightly believable.
                        </p>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="blog-area gray-bg section-padding" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="section-title">
                    <h6>Blog</h6>
                    <h2>Latest Blog</h2>
                </div>
            </div>
            <div class="col-lg-6 text-right">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-item wow fadeInLeft" data-wow-delay=".4s">
                    <div class="blog-bg">
                        <img src="assets/img/blog/1.jpg" alt>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta">
                            <span class="mr-3"><i class="far fa-user-circle"></i>Admin</span>
                            <span> <i class="far fa-calendar-alt"></i>02 FEB, 2023</span>
                        </p>
                        <h5><a href="/">Sed ut perspiciatis unde omnis iste natus error sit </a>
                        </h5>
                        <p style="text-align: justify;">There are injected humour words randomised words which don't look even slightly believable.
                        </p>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-item wow fadeInLeft" data-wow-delay=".6s">
                    <div class="blog-bg">
                        <img src="assets/img/blog/2.jpg" alt>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta">
                            <span class="mr-3"><i class="far fa-user-circle"></i>Admin</span>
                            <span> <i class="far fa-calendar-alt"></i>02 FEB, 2023</span>
                        </p>
                        <h5><a href="/">At vero eos et accusamus et iusto odio dignissimos </a></h5>
                        <p style="text-align: justify;">There are injected humour words randomised words which don't look even slightly believable.
                        </p>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-item wow fadeInLeft" data-wow-delay=".8s">
                    <div class="blog-bg">
                        <img src="assets/img/blog/3.jpg" alt>
                    </div>
                    <div class="blog-content">
                        <p class="blog-meta">
                            <span class="mr-3"><i class="far fa-user-circle"></i>Admin</span>
                            <span> <i class="far fa-calendar-alt"></i>02 FEB, 2023</span>
                        </p>
                        <h5><a href="/">There are many variations of passages available </a></h5>
                        <p style="text-align: justify;">There are injected humour words randomised words which don't look even slightly believable.
                        </p>
                        <a href="/" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="client-area pt-50 pb-40" style="z-index: -1; position: relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-carousel owl-carousel">
                    <div class="single-logo-wrapper">
                        <div class="logo-inner-item">
                            <img src="assets/img/client/1.png" alt>
                        </div>
                    </div>
                    <div class="single-logo-wrapper">
                        <div class="logo-inner-item">
                            <img src="assets/img/client/2.png" alt>
                        </div>
                    </div>
                    <div class="single-logo-wrapper">
                        <div class="logo-inner-item">
                            <img src="assets/img/client/3.png" alt>
                        </div>
                    </div>
                    <div class="single-logo-wrapper">
                        <div class="logo-inner-item">
                            <img src="assets/img/client/4.png" alt>
                        </div>
                    </div>
                    <div class="single-logo-wrapper">
                        <div class="logo-inner-item">
                            <img src="assets/img/client/5.png" alt>
                        </div>
                    </div>
                    <div class="single-logo-wrapper">
                        <div class="logo-inner-item">
                            <img src="assets/img/client/6.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->